<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends Widget</title>
    <link rel="stylesheet" href="/questLog/css/components/friends-widget.css"> 
</head>
<body>
    
    <section class="friends-card">
        <h1 class="friends-title">My Friends</h1>

        <div class="friends-list">

            <article class="friend-item">
                <div class="friend-main">
                    <div class="friend-avatar">
                        <img src="/questLog/assets/images/characters/alien-char.svg" alt="Friend Avatar"/>
                    </div>
                    <div class="friend-text">
                        <p class="friend-name">Friend Name</p>
                        <p class="friend-meta"> Lvl 25 · Quests Done 1 / 7 ·
                            <span class="status status-active"> Active </span>
                        </p>
                    </div>
                </div>

                <button class="friend-nudge">Nudge</button>
            </article>

            <article class="friend-item">
                <div class="friend-main">
                    <div class="friend-avatar">
                        <img src="/questLog/assets/images/characters/dragon-char.svg" alt="Friend Avatar" />
                    </div>
                    <div class="friend-text">
                        <p class="friend-name">Username Friend Name</p>
                        <p class="friend-meta"> Lvl 5 · Quests Done 5 / 13 ·
                            <span class="status status-inactive"> Inactive </span>
                        </p>
                    </div>
                </div>
                <button class="friend-nudge">Nudge</button>
            </article>
            
            <article class="friend-item">
                <div class="friend-main">
                    <div class="friend-avatar">
                        <img src="/questLog/assets/images/characters/monkey-char.svg" alt="Friend Avatar" />
                    </div>
                    <div class="friend-text">
                        <p class="friend-name">Curious Studyer</p>
                        <p class="friend-meta"> Lvl 36 · Quests Done 14 / 21 ·
                            <span class="status status-focus"> Focus On </span>
                        </p>
                    </div>
                </div>
                <button class="friend-nudge">Nudge</button>
            </article>

            <article class="friend-item">
                <div class="friend-main">
                    <div class="friend-avatar">
                        <img src="/questLog/assets/images/characters/umbrella-char.svg" alt="Friend Avatar" />
                    </div>
                    <div class="friend-text">
                        <p class="friend-name">Locked In</p>
                        <p class="friend-meta"> Lvl 22 · Quests Done 8 / 12 ·
                            <span class="status status-inactive"> Inactive </span>
                        </p>
                    </div>
                </div>
                <button class="friend-nudge">Nudge</button>
            </article>

            <article class="friend-item">
                <div class="friend-main">
                    <div class="friend-avatar">
                        <img src="/questLog/assets/images/characters/rabbit-char.svg" alt="Friend Avatar" />
                    </div>
                    <div class="friend-text">
                        <p class="friend-name">Procrastinator</p>
                        <p class="friend-meta"> Lvl 6 · Quests Done 3 / 55 ·
                            <span class="status status-active"> Active </span>
                        </p>
                    </div>
                </div>
                <button class="friend-nudge">Nudge</button>
            </article>

        </div>
    </section>

</body>
</html>