<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Well-Being Widget</title>
    <link rel="stylesheet" href="/questLog/css/components/wellBeing-widget.css"> 
</head>
<body>

    <section class="wellbeing-card">
        <h1 class="wellbeing-title"> My Well-Being Status</h1>

        <div class="status-row" id="health-status">
            <div class="status-header">
                <h2 class="status-label"> Health </h2>
                <span class="status-value" id="health-value"> 55 / 100 </span>
            </div>
            <div class="progress-track">
                <div class="progress-fill health" style="width: 50%;"></div>
            </div>
        </div>

        <div class="status-row" id="motivation-status">
            <div class="status-header">
                <h2 class="status-label">Motivation</h2>
                <span class="status-value" id="motivation-value">30 / 100</span>
            </div>
            <div class="progress-track">
                <div class="progress-fill motivation"></div>
            </div>
        </div>

       <button class="log-btn">
            <img src="/questLog/assets/images/dashIcons/editPencil-icon.svg" alt="Edit Icon">
            Log Health
        </button>
  </section>

</body>
</html>